<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Ramsbury Bed & Breakfast</title>
  <link rel="stylesheet" type="text/css" href="screenstyle.css"/>
</head>
<body>
<div class="container">
  <div class="titleblock"><h1>Ramsbury</h1>
    <p>bed & breakfast</p>
  </div>

  <div>
    <ul class="navbar">
      <li><a href="/index.html" class="nav">Home</a></li>
      <li><a href="/facilities.html" class="nav">Facilities</a></li>
      <li><a href="/pictures.html" class="nav">Pictures</a></li>
      <li><a href="/ramsbury.html" class="nav">Ramsbury</a></li>
      <li><a href="/contact.html" class="nav">Contact</a></li>
    </ul>
  </div>

  <div class="rightcontainer">
    <BR>
    <div class="rightbox"><h2>Address</h2>
      <p>33 High Street<BR>
        Ramsbury<BR>
        Wiltshire<BR>
        SN8 2QN
      </p>
    </div>

    <div class="rightbox linkbox"><h2>Links</h2>
      <a href="http://www.thebellramsbury.com" title="The Bell Pub">The Bell Pub</a>
      <a href="http://www.susiewatsondesigns.co.uk" title="Susie Watson Design">Susie Watson
        Design</a>
      <a href="http://www.ramsbury.org/" title="Ramsbury Village">Ramsbury Village</a>
    </div>
  </div>
  <div class="content">
    <BR>
    {{ content }}
  </div>
  <div class="footer">
    <p>
      &copy; 2007-2019 Ramsbury B&B
    </p>
  </div>
</body>
</html>
